//Base Styles
body {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: $container-width;
}

.cards-boxes {
  @include element(item) {
    background: $color-clean;
    margin-bottom: 20px;
    padding: 20px;
  }
  background: $color-primary-light;
  padding: 20px;
}

.visible-xs {
  display: none;

  @media (max-width:425px) {
    display: block;
  }
}
